* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

ul,
li,
a,
input,
button {
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 40px;
}
.navbar ul {
  display: flex;
  gap: 30px;
}
.navbar ul .navbar__link {
  color: var(--color-white-100, #FFF);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  padding-bottom: 10px;
  transition: 0.3s linear;
  border-bottom: 2px solid #74C69D;
}
.navbar ul .navbar__link:hover {
  border-bottom: 2px solid var(--color-white-100, #FFF);
  padding-bottom: 3px;
}
.navbar button {
  display: none;
}
.navbar button i {
  font-size: 35px;
  color: #FFF;
}

@media screen and (max-width: 900px) {
  .logo img {
    width: 150px;
  }
}
@media screen and (max-width: 700px) {
  .logo img {
    width: 120px;
  }
  .navbar ul {
    display: none;
  }
  .navbar button {
    display: block;
  }
}
.header {
  background: var(--color-green-100, #74C69D);
  padding-bottom: 80px;
}

.hero_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_header .hero_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.hero_header .hero_info h4 {
  color: var(--Text_White, #FFF);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 125%; /* 20px */
  letter-spacing: 5px;
  text-transform: uppercase;
}
.hero_header .hero_info h1 {
  color: var(--Text_White, #FFF);
  font-family: Crimson Text;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
  max-width: 400px;
}
.hero_header .hero_info p {
  color: var(--color-white-75, rgba(255, 255, 255, 0.75));
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  max-width: 400px;
}
.hero_header .hero_info button {
  margin-top: 10px;
  padding: 13px 48px;
  color: #000;
  font-family: Work Sans;
  font-size: 20px;
  line-height: 125%;
  border-radius: 5px;
  background: #FFF;
  border: 2px solid #FFF;
  transition: 0.3s linear;
}
.hero_header .hero_info button:hover {
  background: none;
  color: #FFF;
}

@media screen and (max-width: 1050px) {
  .hero_header .hero_info h1 {
    font-size: 38px;
    line-height: 100%;
    max-width: 380px;
  }
  .hero_header .hero_info button {
    padding: 10px 36px;
    font-size: 18px;
  }
  .hero_header .header_img img {
    width: 550px;
  }
}
@media screen and (max-width: 950px) {
  .hero_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero_header .hero_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .hero_header .hero_info h4 {
    color: var(--Text_White, #FFF);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .hero_header .hero_info h1 {
    font-size: 34px;
    line-height: 100%;
    max-width: 380px;
  }
  .hero_header .hero_info p {
    max-width: 360px;
  }
  .hero_header .hero_info button {
    padding: 10px 36px;
    font-size: 14px;
  }
  .hero_header .header_img img {
    width: 450px;
  }
}
@media screen and (max-width: 800px) {
  .hero_header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .hero_header .hero_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .hero_header .hero_info h4 {
    color: var(--Text_White, #FFF);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .hero_header .hero_info h1 {
    font-size: 34px;
    line-height: 100%;
    max-width: 410px;
  }
  .hero_header .hero_info p {
    max-width: 410px;
  }
  .hero_header .hero_info button {
    padding: 13px 47px;
    font-size: 16px;
  }
  .hero_header .header_img img {
    width: 450px;
  }
}
@media screen and (max-width: 500px) {
  .hero_header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .hero_header .hero_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .hero_header .hero_info h4 {
    color: var(--Text_White, #FFF);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .hero_header .hero_info h1 {
    font-size: 28px;
    line-height: 120%;
    max-width: 330px;
  }
  .hero_header .hero_info p {
    max-width: 330px;
    font-size: 15px;
  }
  .hero_header .hero_info button {
    padding: 13px 47px;
    font-size: 16px;
  }
  .hero_header .header_img img {
    width: 330px;
  }
}
.social_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 73px;
}
.social_section h4 {
  color: var(--color-green-100, #74C69D);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.social_section h2 {
  color: var(--Text_Black, #000);
  font-family: Crimson Text;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
  padding: 16px 0;
  text-align: center;
}
.social_section p {
  color: var(--Text_Black, #000);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  max-width: 420px;
}
.social_section .social_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 68px;
  margin: 55px 0;
  flex-wrap: wrap;
}
.social_section .social_imgs img {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .social_section {
    margin: 60px 0;
  }
  .social_section h2 {
    font-size: 34px;
  }
  .social_section p {
    font-size: 18px;
    max-width: 400px;
  }
  .social_section .social_imgs {
    gap: 40px;
  }
}
@media screen and (max-width: 500px) {
  .social_section {
    margin: 25px 0 50px;
  }
  .social_section h2 {
    font-size: 24px;
  }
  .social_section p {
    max-width: 360px;
  }
  .social_section .social_imgs img {
    max-width: 180px;
  }
}
.chat_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.chat_section .chat_info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.chat_section .chat_info h2 {
  color: var(--color-dark-100, #212529);
  font-family: Crimson Text;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
  max-width: 460px;
}
.chat_section .chat_info p {
  color: var(--color-dark-50, rgba(33, 37, 41, 0.5));
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 125%;
  max-width: 470px;
}

@media screen and (max-width: 1050px) {
  .chat_section {
    gap: 30px;
  }
  .chat_section .chat_img img {
    width: 500px;
  }
}
@media screen and (max-width: 950px) {
  .chat_section {
    gap: 30px;
  }
  .chat_section .chat_img img {
    width: 440px;
  }
  .chat_section .chat_info h2 {
    font-size: 34px;
    max-width: 380px;
  }
  .chat_section .chat_info p {
    max-width: 380px;
  }
}
@media screen and (max-width: 800px) {
  .chat_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    gap: 30px;
  }
  .chat_section .chat_img img {
    width: 440px;
  }
  .chat_section .chat_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  .chat_section .chat_info h2 {
    font-size: 34px;
    max-width: 440px;
  }
  .chat_section .chat_info p {
    max-width: 420px;
  }
}
@media screen and (max-width: 500px) {
  .chat_section {
    margin-bottom: 60px;
  }
  .chat_section .chat_img img {
    width: 300px;
  }
  .chat_section .chat_info h2 {
    font-size: 28px;
    max-width: 330px;
  }
  .chat_section .chat_info p {
    max-width: 320px;
  }
}
.last_cards {
  display: flex;
  gap: 47px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 45px 0;
}
.last_cards .card {
  cursor: pointer;
  padding: 20px 40px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  transition: 0.5s linear;
}
.last_cards .card:hover {
  box-shadow: 0 0 10px;
  transform: scale(1.03);
}
.last_cards .card span {
  color: var(--color-dark, #212529);
  font-family: Crimson Text;
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
}
.last_cards .card p {
  color: var(--color-dark-75, rgba(33, 37, 41, 0.75));
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 125%;
}

@media screen and (max-width: 800px) {
  .section_three {
    display: flex;
    flex-direction: column-reverse;
  }
}
.footer {
  background: #74C69D;
  padding: 50px 0;
}
.footer .footer_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer_parent .social_media {
  display: flex;
  gap: 20px;
}
.footer .footer_parent p {
  color: var(--color-white-100, #FFF);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}

@media screen and (max-width: 700px) {
  .footer .footer_parent {
    flex-direction: column;
    gap: 20px;
  }
  .footer .footer_parent p {
    font-size: 18px;
  }
}
.btn {
  padding: 13px 29px;
  border-radius: 5px;
  background: var(--color-dark, #212529);
  color: #FFF;
  font-family: Work Sans;
  font-size: 20px;
  line-height: 125%;
  border: 2px solid #212529;
  transition: 0.3s linear;
}
.btn:hover {
  background: none;
  color: #212529;
}

/*# sourceMappingURL=main.css.map */
