// this is chat section
.chat_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    .chat_info{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        h2{
            color: var(--color-dark-100, #212529);
            font-family: Crimson Text;
            font-size: 40px;
            font-weight: 700;
            line-height: 125%;
            max-width: 460px;
        }
        p{
            color: var(--color-dark-50, rgba(33, 37, 41, 0.50));
            font-family: Work Sans;
            font-size: 15px;
            font-weight: 400;
            line-height: 125%;
            max-width: 470px;
        }
    }
}

@media screen and (max-width:1050px){  
    .chat_section{
        gap: 30px;
        .chat_img{
            img{
                width: 500px;
            }
        }
    }
}
@media screen and (max-width:950px){ 
    .chat_section{
        gap: 30px;
        .chat_img{
            img{
                width: 440px;
            }
        }
        .chat_info{
            h2{
                font-size: 34px;
                max-width: 380px;
            }
            p{
                max-width: 380px;
            }
        }
    }
}
@media screen and (max-width:800px){
    
    .chat_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
        gap: 30px;
        .chat_img{
            img{
                width: 440px;
            }
        }
        .chat_info{
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;
            h2{
                font-size: 34px;
                max-width: 440px;
            }
            p{
                max-width: 420px;   
            }
        }
    }
}
@media screen and (max-width:500px){ 
    .chat_section{
        margin-bottom: 60px;
        .chat_img{
            img{
                width: 300px;
            }
        }
        .chat_info{
            h2{
                font-size: 28px;
                max-width: 330px;
            }
            p{
                max-width: 320px;
            }
        }
    }
}