.footer{
    background: #74C69D;
    padding: 50px 0;
    .footer_parent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .social_media{
            display: flex;
            gap: 20px;
        }
        p{
            color: var(--color-white-100, #FFF);
            font-family: Work Sans;
            font-size: 20px;
            font-weight: 400;
            line-height: 125%; 
        }
    }
    
}
@media screen and (max-width:700px) {
    .footer{
        .footer_parent{
            flex-direction: column;
            gap: 20px;
            p{
                font-size: 18px;
            }
        }
        
    }
}