// this is header
.header{
    background: var(--color-green-100, #74C69D);
    padding-bottom: 80px;
}
.hero_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        h4{
            color: var(--Text_White, #FFF);
            font-family: Work Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 125%; /* 20px */
            letter-spacing: 5px;
            text-transform: uppercase;
            
        }
        h1{
            color: var(--Text_White, #FFF);
            font-family: Crimson Text;
            font-size: 40px;
            font-weight: 700;
            line-height: 125%; 
            max-width: 400px;
        }
        p{
            color: var(--color-white-75, rgba(255, 255, 255, 0.75));
            font-family: Work Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; 
            max-width: 400px;
        }
        button{
            margin-top: 10px;
            padding: 13px 48px;
            color: #000;
            font-family: Work Sans;
            font-size: 20px;
            line-height: 125%;
            border-radius: 5px;
            background: #FFF;
            border: 2px solid #FFF;
            transition: .3s linear;

            &:hover{
                background: none;
                color: #FFF;
            }
        }
    }
}
@media screen and (max-width:1050px){
    
    .hero_header{
        .hero_info{
            h1{
                font-size: 38px;
                line-height: 100%; 
                max-width: 380px;
            }
            
            button{
                padding: 10px 36px;
                font-size: 18px;
            }
        }
        .header_img{
            img{
                width: 550px;   
            }
        }
    } 
}
@media screen and (max-width:950px){
    
    .hero_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .hero_info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            h4{
                color: var(--Text_White, #FFF);
                font-family: Work Sans;
                font-size: 14px;
                font-weight: 700;
                line-height: 125%; /* 20px */
                letter-spacing: 5px;
                text-transform: uppercase;
                
            }
            h1{
                font-size: 34px;
                line-height: 100%; 
                max-width: 380px;
            }
            p{
                max-width: 360px;
            }
            
            button{
                padding: 10px 36px;
                font-size: 14px;
            }
        }
        .header_img{
            img{
                width: 450px;   
            }
        }
    } 
}
@media screen and (max-width:800px){
    
    .hero_header{
        display: flex;
        flex-direction: column-reverse  ;
        align-items: center;
        gap: 30px;
        .hero_info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            h4{
                color: var(--Text_White, #FFF);
                font-family: Work Sans;
                font-size: 14px;
                font-weight: 700;
                line-height: 125%; /* 20px */
                letter-spacing: 5px;
                text-transform: uppercase;
                
            }
            h1{
                font-size: 34px;
                line-height: 100%; 
                max-width: 410px;
            }
            p{
                max-width: 410px;
            }
            
            button{
                padding: 13px 47px;
                font-size: 16px;
            }
        }
        .header_img{
            img{
                width: 450px;   
            }
        }
    } 
}
@media screen and (max-width:500px){
    
    .hero_header{
        display: flex;
        flex-direction: column-reverse  ;
        align-items: center;
        gap: 30px;
        .hero_info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            h4{
                color: var(--Text_White, #FFF);
                font-family: Work Sans;
                font-size: 14px;
                font-weight: 700;
                line-height: 125%; /* 20px */
                letter-spacing: 5px;
                text-transform: uppercase;
                
            }
            h1{
                font-size: 28px;
                line-height: 120%; 
                max-width: 330px;
            }
            p{
                max-width: 330px;
                font-size: 15px;
            }
            
            button{
                padding: 13px 47px;
                font-size: 16px;
            }
        }
        .header_img{
            img{
                width: 330px;   
            }
        }
    } 
}
