.last_cards{
    display: flex;
    gap: 47px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px 0;
    .card{
        cursor: pointer;
        padding: 20px 40px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
        transition: .5s linear;
        &:hover{
            box-shadow: 0 0 10px;
            transform: scale(1.03);
        }
        span{
            color: var(--color-dark, #212529);
            font-family: Crimson Text;
            font-size: 24px;
            font-weight: 700;
            line-height: 125%; 
        }
        p{
            color: var(--color-dark-75, rgba(33, 37, 41, 0.75));
            font-family: Work Sans;
            font-size: 15px;
            font-weight: 400;
            line-height: 125%; 
        }
    }
}