.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 40px;
    ul{
        display: flex;
        gap: 30px;
        .navbar__link{
            color: var(--color-white-100, #FFF);
            font-family: Work Sans;
            font-size: 20px;
            font-weight: 400;
            line-height: 125%;
            padding-bottom: 10px;
            transition: .3s linear;
            border-bottom: 2px solid #74C69D;

            &:hover{
                border-bottom: 2px solid var(--color-white-100, #FFF);
                padding-bottom: 3px;
            }
        }
    }
    button{
        display: none;
        i{
            font-size: 35px;
            color: #FFF;
            
        }
    }
    
}
@media screen and (max-width:900px){
    .logo{
        img{
            width: 150px;
        }
    }    
}
@media screen and (max-width:700px){
    .logo{
        img{
            width: 120px;
        }
    }
    .navbar{
        ul{
            display: none;
        }
        button{
            display: block;
        }
    }
    
}