// this is social section
.social_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 73px;
    h4{
        color: var(--color-green-100, #74C69D);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 125%; 
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    h2{
        color: var(--Text_Black, #000);
        font-family: Crimson Text;
        font-size: 40px;
        font-weight: 700;
        line-height: 125%; 
        padding: 16px 0;
        text-align: center;
    }
    p{
        color: var(--Text_Black, #000);
        font-family: Work Sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 125%; 
        text-align: center;
        max-width: 420px;
    }
    .social_imgs{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 68px;
        margin: 55px 0;
        flex-wrap: wrap;
        img{
            cursor: pointer;
        }
    }
    
}

@media screen and (max-width:800px){
    .social_section{
        margin: 60px 0;
        h2{
            font-size: 34px;
        }
        p{
            font-size: 18px;
            max-width: 400px;
        }
        .social_imgs{
            gap: 40px;
        }   
    }
}
@media screen and (max-width:500px){
    .social_section{
        margin: 25px 0 50px;
        h2{
            font-size: 24px;
        }
        p{
            max-width: 360px;
        }
        .social_imgs{
            img{
                max-width: 180px;
            }
        } 
    }
}