*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

ul,
li,
a,
input,
button{
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}