// this mixin for button
@mixin btn ($py:13px, $px:29px){
    padding: $py $px;
    border-radius: 5px;
    background: var(--color-dark, #212529);
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    line-height: 125%; 
    border: 2px solid #212529;
    transition: .3s linear;
    &:hover{
        background: none;
        color: #212529;
        
    }
    
}